@import url('./normalize.css');

html,
body {
    padding: 0 15px;
}

.viewer {
    .code-block {
        //
    }

    .toolbar {
        display: flex;
        align-items: center;
        margin-top: 10px;

        vscode-button {
            margin-right: 10px;
        }
    }
}
