@import url('./normalize.css');
@import url('~highlight.js/styles/atom-one-dark.css');

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
}

.container {
    pre {
        margin-bottom: 20px;
    }
}
